.container-fluid{
    font-size:14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* height: 100%; */
    background: #EDD8F0; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.ownerfields input , label {
    margin-top: 10px;
}

.ownerfields input {
    height: 40px;
    border-radius: 0px;
}

.ownerfields {
    padding: 20px;
    background:linear-gradient(to top, #3a6186 , #89253e);
    color: white;
}

.content-header {
    font-family: Railway;
    /* color:#AC1BE6; */
    text-shadow: 3px 2px #1F22AF;
    margin-left: 20px;
    font-size: 40px;
}

.navbar {
    background:   #3a6186;
    border-radius: 0px;
    height:12%;
    margin-bottom: 0px;
}

.login-section input , label {
    width:100%;
    /* margin-top: 20px; */
    color:white;
    border-radius: 1px;
}


