<div class="container">
    <div class="col-md-12 col-sm-8 main-content">
      <!--Main content code to be written here --> 
      <h1>Search here......</h1>
      <h3></h3>
      <form class="form-horizontal">
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="location">Search Trip</label>  
          <div class="col-md-4">
            <input type="text" class="form-control input-md" placeholder="type here to search" ng-model="searchtext" ng-keypress="Search($event)" ng-change="searchtripDetails()">
          </div>
        </div>
      </form>
      <div>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th colspan="4"  style="text-align:center;">
                Search Result
              </th>
            </tr> 
            <tr>
              <th style="width:5%;">Sr.No.</th>
              <th style="text-align:center;"> 
               Route
             </th>
             <th style="text-align:center;">Truck Owner</th>
             <th style="text-align:center;">Truck Type</th>
           </tr>
         </thead>
         <tbody>
          <tr ng-if="0" ng-repeat-start="route in tripRoutes |filter:searchtext">
            <tr ng-repeat="owner in route.owner">
            <td>{{$index +1}}</td>
              <td ng-if="!$first"></td>
              <td ng-if="$first">{{route.route}}</td>
              <td>{{owner.Name}}</td>
              <td>{{owner.trucktype}}</td>
            </tr>
          </tr>
            <tr ng-if="0" ng-repeat-end></tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

