<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h3>Register with Transport System </h3>
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<label for="truckdetail" class=" control-label label-style">Primary Info
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<label for="truckId" class="cols-sm-2 control-label">TruckId</label>

				<input type="text" class="form-control" name="truckId" id="truckId"  placeholder="Enter truckId"/>
			</div>
			<div class="col-md-4 col-sm-6">
				<label for="truckId" class="cols-sm-2 control-label">TruckNumber</label>

				<input type="text" class="form-control" name="truckId" id="truckId"  placeholder="Enter truckId"/>
			</div>
			<div class="col-md-4 col-sm-6">
				<label for="truckId" class="cols-sm-2 control-label">TruckOwner</label>
				<input type="text" class="form-control" name="truckId" id="truckId"  placeholder="Enter truckId"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-6">
				<label for="truckdetail" class=" control-label label-style">TruckDetails</label>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<label for="truckId" class="cols-sm-2 control-label">Weight Capacity</label>
				<input type="text" class="form-control" name="truckId" id="truckId"  placeholder="Enter truckId"/>
			</div>
			<div class="col-md-4 col-sm-6">
				<label for="truckId" class="cols-sm-2 control-label">Fuel type</label>
				<input type="text" class="form-control" name="truckId" id="truckId"  placeholder="Enter truckId"/>
			</div>
			<div class="col-md-4 col-sm-6">
				<label for="truckId" class="cols-sm-2 control-label">Carrying Material</label>
				<input type="text" class="form-control" name="truckId" id="truckId"  placeholder="Enter truckId"/>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<label for="truckId" class="cols-sm-2 control-label">SerialNumber</label>
				<input type="text" class="form-control" name="truckId" id="truckId"  placeholder="Enter truckId"/>
			</div>
			<div class="col-md-4 col-sm-6">
				<label for="truckId" class="cols-sm-2 control-label">TruckType</label>
				<input type="text" class="form-control" name="truckId" id="truckId"  placeholder="Enter truckId"/>
			</div>
			<div class="col-md-4 col-sm-6">
				<label for="truckId" class="cols-sm-2 control-label">CurrentStatus</label>
				<input type="text" class="form-control" name="truckId" id="truckId"  placeholder="Enter truckId"/>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-primary" value="submit" ng-click="submitData()">Submit</button>
						<button type="submit" class="btn btn-danger" value="submit" ng-click="submitData()">Cancle</button>
					</div>
				</div>
			</div>
		</div>
	</div>